* {
  margin: 0;
  border: 0
}
header{
  background-image: url("../img/carrossel.png");
  background-size: cover;
  background-position: center;
  height: 400px;
  
}
/*edição no body*/
body {
  background: #1e1e1e;
}

/*edição na navbar*/
.bg-custom {
  background-color: #000;
}
.nav-links {
  list-style: none;
  display: flex;
  align-items: center;
  margin-bottom: 0;
  padding-left: 0;
}

.nav-itens {
  display: flex;
  align-items: center;
  padding: 0 10px;
}

.nav-link {
  color: #fff;
  padding: 0.5rem 0;
}
/*edição do campo da imagem*/
.secao1 {
  background-image: url("../img/bg-image.png");
  background-size: cover;
  text-align: center;
  height: 514px;
}
.secao1 h1 {
  font-size: 48px;
  font-weight: bold;
  color: #fff;
  padding-top: 160px;
}
.secao1 p {
  font-size: 18px;
  margin: 20px auto;
  color: #fff;
}
.btn {
  padding: 10px 30px;
  font-weight: bold;
  margin: 20px;
  border-radius: 30px;
  background-color: #fff;
}
.btn-iniciar {
  border: 5px solid #A800E1;
}
.btn-saiba {
  border: 5px solid #C50000;
}
