* {
  margin: 0;
  border: 0
}
header{
  background-image: url("../img/carrossel.png");
  background-size: cover;
  background-position: center;
  height: 400px;
  
}
/*edição no body*/
body {
  background: #1e1e1e;
}

/*edição na navbar*/
.bg-custom {
  background-color: #000;
}
.nav-links {
  list-style: none;
  display: flex;
  align-items: center;
  margin-bottom: 0;
  padding-left: 0;
}

.nav-itens {
  display: flex;
  align-items: center;
  padding: 0 10px;
}

.nav-link {
  color: #fff;
  padding: 0.5rem 0;
}

